h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.logo {
    margin-right: 93px;
}

.list {
    list-style: none;
    padding: 0;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.ava {
    color: purple;
}
.x-icon {
    fill: darkorchid;
}
.header {
    background-color: darkblue;
width: 1519px;
  
}
.header .container {
    display: flex;
    align-items: center;
height: 120px;
}
.logo {
    color: blueviolet;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.78px;
    margin-left: 30px;
    margin-bottom: 60px;
}
.mail {
   margin-left: 50px;
}
.q1 {
    color: #FFF;
    position: absolute;
}
.q {
    color: black;
    margin-top: 10px;
    position: absolute;
    left: 500px;
}
.logo-acent {
    color: aqua;

}
.info-svg {
    fill: gray;
}
.info-svg:hover {
    fill: darkred;
}
.nav-list {
    margin-left: auto;
        display: flex;
        gap: 50px;
        justify-content: center;
}
.nav-list-text {
    display: block;
        padding: 32px 0;
        font-family: Roboto;
    font-size: 20px;
        letter-spacing: 0.18px;
        font-weight: 400;
        color: darkgray;
        text-decoration: none;
}
.menu-footer {
    background-color: darkblue;
    width: 1519px;
    height: 1000px;
}
.book-section {
   
    background-color: #fff;
}
.book-title {
    font-weight: 700;
    font-family: Roboto;
    font-size: 26px;
    letter-spacing: 0.78px;
    margin-left: 721px;
}
.logo-acent1 {
    color: red;
}
.logo-acent2 {
    color: yellow;
}
.logo-acent3 {
    color: green;
}
.logo-acent4 {
    color: blue;
}
.logo-acent5 {
    color: lightblue;
}
.logo-acent6 {
    color: blueviolet;
}
.book-list {
    display: flex;
}
.book-list-item {
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 100px;
}
.book-list-img {
    width: 100px;
    height: 200px;
}
.fer {
    width: 100px;
        height: 200px;
}
.book-list-img {
    width: 100px;
        height: 200px;

}
.book-list-img1 {
    width: 100px;
        height: 200px;
}
.book-title-tit {
    position: absolute;
        bottom: 300px;
        background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
        width: 100px;
        height: 220px;
        padding: 27px;
        color: #FFF;
}
.book-container {
    width: 100px;
        height: 200px;
}
.footer {
    background-color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 1px;
    border: 1px;
    border-color: black;
}
.logo-svg8 {
    fill: darkgoldenrod;
}
.footer-title {
    font-family: Roboto;
    font-size: 46px;
    font-weight: 700;
    letter-spacing: 0.78px;
    color: white;
    margin-left: 550px;    
}
.cb-list {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}
.cb-text {
    color: gray;
    position: absolute;
    left: 120px;
    top: 1110px;
}
.logo-svg7 {
    fill: darkgoldenrod;
}
.cm-name {
    font-family: Roboto;
        font-size: 46px;
        font-weight: 700;
        letter-spacing: 0.78px;
        color: pink;
        margin-left: 50px;
}
.cm-number {
    font-family: Roboto;
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 0.18px;
        color: white;
        margin-left: 80px;
        margin-top: 50px;
}
.cm-number1 {
    font-family: Roboto;
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 0.18px;
        color: black;
        margin-left: 80px;
        margin-top: 50px;
}
.cm-list {
    display: flex;
    gap: 5px;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.logo-svg0 {
    fill: darkgoldenrod;
    position: absolute;
    left: 120px;
   top: 965px;
}
.logo-svg13 {
    fill: darkgoldenrod;
        position: absolute;
        left: 120px;
        top: 2803px;
}
.comment-foto {
    width: 20px;
    height: 20px;
    margin-left: 20px;
}
.comment-foto1 {
    width: 20px;
        height: 20px;
        margin-left: 20px;
}
.comment-name {
  position: absolute;
  left: 40px;
  top: 1080px;
  color: #fff;
}
.comment-name1 {
 margin-top: 10px;
        color: black;
        position: absolute;
        left: 50px;
        top: 2910px;
        
}
.cb-text1 {
    color: gray;
    position: absolute;
    left: 120px;
    top: 2949px;
}
.coment-text {
    margin-left: 20px;
    color: white;
    margin-top: 10px;
  
}
.coment-text1 {
    margin-left: 10px;
        color: black;
        margin-top: 10px;
        font-family: Roboto;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0.18px;
}
.footer-title1 {
        font-family: Roboto;
            font-size: 46px;
            font-weight: 700;
            letter-spacing: 0.78px;
            color: black;
      position: absolute;
      left: 550px;
}
.book-list-title {
    text-decoration: none;
    color: gray;
}
.book-list-title1 {
    text-decoration: none;
        color: gray;
        margin-left: 25px;
}
.book-list-title1:hover {

    color: darkred;
}
.book-list-title:hover {
   
    color: darkred;
}
.cm {
    font-family: Roboto;
        font-size: 46px;
        font-weight: 700;
        letter-spacing: 0.78px;
        color: white;
        margin-left: 650px;
       margin-top: 100px;
}
.cm1 {
    font-family: Roboto;
        font-size: 46px;
        font-weight: 700;
        letter-spacing: 0.78px;
        color: black;
        margin-left: 650px;
        margin-top: 100px;
}
.cm-txt {
font-family: Roboto;
    font-size: 46px;
    font-weight: 700;
    letter-spacing: 0.78px;
    color: white;
    margin-left: 680px;
    margin-top: 100px;
}
.cm-txt1 {
    font-family: Roboto;
    font-size: 46px;
    font-weight: 700;
    letter-spacing: 0.78px;
    color: black;
    margin-left: 680px;
    margin-top: 400px;
}
.name-footer {
    font-family: Roboto;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0.18px;
        color: white;
        margin-bottom: 100px;
        margin-left: 100px;
     
        width: 100%;
            border-radius: 4px;
            border: 1px solid rgba(33, 33, 33, 0.20);
            height: 40px;
}
.book-text {
    font-family: Roboto;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0.18px;
    }
.book {
   width: 1000px;
  margin-left: 300px;
   background-color: #fff;
   padding-top: 20px;
}

.book-fon {
    background-image: url("../images/selo.jpg");
    background-repeat: no-repeat
    ;
    background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
}
.read-list {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
}
.read-list-text {
font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.58px;
   
}
.logo-svg  {
    fill: gray;
  position: absolute;
  right: 630px;
  top: 2424px;

  
}
.modal-title {
    color: #212121;
    
        text-align: center;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.6px;
}
.s {
    margin-left: 70px;
    margin-right: 70px;
}
.read-list-text1 {
    font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.58px;
        color: gray;
            text-decoration: none;

}
.read-list-text1:hover {
    color: darkred;
}
.logo-svg:hover {
    fill: darkred;
}
.read-list-text {
    color: darkred;
    text-decoration: none;
}
.read-list-text:nth-child(2) {
    color: darkred;
}
.read-list-text2 {
    font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.58px;
        color: gray;
        text-decoration: none;
} 
.read-list-text2:hover {
     color: darkred;
}
.read-list-text:hover {
    color: darkred;
}
.logo-svg1 {
    position: absolute;
     left: 720px;
   top: 2240px;
    fill: gray;
       
}
.logo-svg2 {
    fill: gray;
        position: absolute;
        right: 630px;
        top: 2240px;

}
.logo-svg1:hover {
    fill: darkred;
}
.logo-svg2:hover {
    fill: darkred;
}
.logo-svg4 {
    fill: gray;
    position: absolute;
    left: 720px;
    top: 2127px;

}
.logo-svg4:hover {
    fill: darkred;
}
.logo-svg3 {
    fill: gray;
    position: absolute;
    right:  630px;
    top: 2127px;

}
.logo-svg3:hover {
    fill: darkred;

}
.logo-svg5 {
    fill: gray;
    position: absolute;
    left: 720px;
    top: 1595px;

}
.logo-svg5:hover {
    fill: darkred;
    

}
.book-subtitle {
        font-family: Roboto;
            font-size: 45px;
            font-weight: 700;
            letter-spacing: 0.58px;
            margin-left: 340px;
            margin-bottom: 5px;
}
.subsubtitle {
    font-family: Roboto;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0.18px;
        margin-left: 400px;
        margin-bottom: 20px;
        color: gray;
}
.f {
    color: white;
    font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0.18px;
        margin-left: 50px;

}
.mail {
    color: white;
   align-items: center;
   text-decoration: none;
   
}
.mail:hover {
    color: lightskyblue;
}
.mail1 {
    align-items: center;
        text-decoration: none;
        color: gray;
}
.mail1:hover {
    color: darkred;
}
.discord {
    text-decoration: none;
    color: white;
}
.discord:hover {
    color: lightskyblue;
}
.discord1 {
    text-decoration: none;
    color: gray;
}
.discord1:hover {
    color: darkred;
}
.tg {
    text-decoration: none;
    color: white;
}
.tg:hover {
    color: lightskyblue;
}
.tg1 {
    text-decoration: none;
    color: gray;
}
.tg1:hover {
  color: darkred;
}
.footer-list {
    display: flex;
    gap: 50px;
    justify-content: center;
     margin-left: 10px;
     
     margin-top: 20px;
    
}
.v {
    color: white;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0.18px;
       
}
.v1 {
    color: black;
    font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0.18px;
}
.f1 {
    font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0.18px;
        color: black;
}
 .backdrop {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5);
     opacity: 1;
 }
.footer-list-item {
    margin-top: 90px;
}

 .backdrop.is-hidden {
     opacity: 0;
     pointer-events: none;
 }

 .no-scroll {
     overflow: hidden;
 }

 .modal {
     position: absolute;
     top: 50%;
     left: 50%;
     min-width: 400px;
     min-height: 300px;
     padding: 15px;
     background-color: white;
     transform: translate(-50%, -50%);
 }
 .modal-button {
    display: block;
    margin-left: 950px;
    background-color: white;
    border-radius: 1px;
    border-color: white;
 }
 .modal-text {
    margin-top: 10px;
 }
 .modal-cross-svg {
    fill: gray;
 }
 .modal-close {
    background-color: white;
    border-radius: 1px;
    border-color: white;
    position: absolute;
    right: 15px;
    top: 15px;
 }
 .comment-foto2 {
    margin-top: 20px;
    width: 20px;
    height: 20px;
    margin-left: 20px;
 }
 .comment-name2 {
    position: absolute;
        left: 50px;
        top: 1177px;
        color: #fff;
 }
.com-list {
    display: flex;
        margin-left: 20px;
        margin-top: 10px;
}
.logo-svg10 {
  fill: darkgoldenrod;
}
.cb-text3 {
    color: gray;
        position: absolute;
        left: 120px;
        top: 1208px;

}
.coment-text2 {
    margin-left: 20px;
        color: white;
        margin-top: 10px;
}
.comment-name3 {
    margin-top: 10px;
        color: black;
        position: absolute;
        left: 50px;
        top: 3010px;
       }
.cb-text4 {
    color: gray;
        position: absolute;
        left: 120px;
        top: 3050px;
}
.coment-text3 {
    margin-left: 10px;
        color: black;
        margin-top: 10px;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.18px;
}
.comment-foto3 {
        margin-top: 20px;
            width: 20px;
            height: 20px;
            margin-left: 20px;
}
.comment-name4 {
    margin-top: 10px;
    color: white;
    position: absolute;
    left: 50px;
        top: 1265px;
}
.cb-text5 {
    color: gray;
        position: absolute;
        left: 120px;
        top: 1307px;
}
.coment-text4 {
        margin-left: 20px;
            color: white;
            margin-top: 10px;
}
.comment-name8 {
    margin-top: 10px;
        color: black;
        position: absolute;
        left: 50px;
        top: 3138px;
}
.cb-text0 {
    color: gray;
        position: absolute;
        left: 120px;
        top: 3177px;
}
.coment-text9 {
    margin-left: 10px;
        color: black;
        margin-top: 10px;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.18px;
}
.m {
    color: black;
        margin-left: 390px;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.18px;
        margin-bottom: 10px;
        margin-top: 10px;
}
.i {
    color: black;
        margin-left: 360px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 0.18px;
        margin-bottom: 10px;
}
.p {
    color: black;
        margin-left: 70px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 0.18px;
        margin-bottom: 10px;
        margin-top: 10px;
}
.cm-pusto {
    color: black;
        margin-left: 700px;
        font-family: Roboto;
            font-size: 46px;
            font-weight: 700;
            letter-spacing: 0.18px;
        
        margin-top: 60px;
}
.new-title {
    color: rgb(214, 214, 37);
font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.28px;
    position: absolute;
    left: 300px;
    top: 180px;
}