.v {
    color: white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.18px;

}

.v1 {
    color: black;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.18px;
}

.f1 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.18px;
    color: black;
}



.footer-list-item {
    margin-top: 90px;
}

.f {
    color: white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.18px;
    margin-left: 50px;

}





.m {
    color: black;
    margin-left: 390px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.18px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.i {
    color: black;
    margin-left: 360px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.18px;
    margin-bottom: 10px;
}

.p {
    color: black;
    margin-left: 70px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.18px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.s {
    margin-left: 70px;
    margin-right: 70px;
}
.q1 {
    color: #FFF;
    position: absolute;
}

.q {
    color: black;
    margin-top: 10px;
    position: absolute;
    left: 500px;
}