.book-section {

    background-color: #fff;
}

.book-title {
    font-weight: 700;
    font-family: Roboto;
    font-size: 26px;
    letter-spacing: 0.78px;
    margin-left: 721px;
}



.book-list {
    display: flex;
}

.book-list-item {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 100px;
}

.book-list-img {
    width: 100px;
    height: 200px;
}

.fer {
    width: 100px;
    height: 200px;
}

.book-list-img {
    width: 100px;
    height: 200px;

}

.book-list-img1 {
    width: 100px;
    height: 200px;
}

.book-title-tit {
    position: absolute;
    bottom: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    width: 100px;
    height: 220px;
    padding: 27px;
    color: #FFF;
}

.book-container {
    width: 100px;
    height: 200px;
}

.book-list-title {
    text-decoration: none;
    color: gray;
}

.book-list-title1 {
    text-decoration: none;
    color: gray;
    margin-left: 20px;
}

.book-list-title1:hover {

    color: darkred;
}

.book-list-title:hover {

    color: darkred;
}

.book-text {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.18px;
}

.book {
    width: 1000px;
    margin-left: 300px;
    background-color: #fff;
    padding-top: 20px;
}

.book-fon {
    background-image: url("../images/selo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}


.book-subtitle {
    font-family: Roboto;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 0.58px;
    margin-left: 340px;
    margin-bottom: 5px;
}

.subsubtitle {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.18px;
    margin-left: 400px;
    margin-bottom: 20px;
    color: gray;
}

.new-title {
    color: rgb(214, 214, 37);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.28px;
    position: absolute;
    left: 300px;
    top: 180px;
}

.kniga {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.28px;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
}