

.mail {
    color: white;
    align-items: center;
    text-decoration: none;

}

.mail:hover {
    color: lightskyblue;
}

.mail1 {
    align-items: center;
    text-decoration: none;
    color: gray;
}

.mail1:hover {
    color: darkred;
}

.discord {
    text-decoration: none;
    color: white;
}

.discord:hover {
    color: lightskyblue;
}

.discord1 {
    text-decoration: none;
    color: gray;
}

.discord1:hover {
    color: darkred;
}

.tg {
    text-decoration: none;
    color: white;
}

.tg:hover {
    color: lightskyblue;
}

.tg1 {
    text-decoration: none;
    color: gray;
}

.tg1:hover {
    color: darkred;
}
.mail {
    margin-left: 50px;
}