.logo {
  color: blueviolet;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.78px;
  margin-left: 30px;
  margin-bottom: 60px;
}
.logo-acent {
  color: aqua;
}
.logo-svg8 {
  fill: darkgoldenrod;
}
.logo-svg7 {
  fill: darkgoldenrod;
}
.logo-svg0 {
  fill: darkgoldenrod;
  position: absolute;
  left: 120px;
  top: 985px;
}

.logo-svg13 {
  fill: darkgoldenrod;
  position: absolute;
  left: 120px;
  top: 2803px;
}
.logo-svg {
  fill: gray;
  position: absolute;
  right: 630px;
  top: 2424px;
}
.logo-svg:hover {
  fill: darkred;
}
.logo-svg1 {
  position: absolute;
  left: 720px;
  top: 2240px;
  fill: gray;
}

.logo-svg2 {
  fill: gray;
  position: absolute;
  right: 630px;
  top: 2240px;
}

.logo-svg1:hover {
  fill: darkred;
}

.logo-svg2:hover {
  fill: darkred;
}

.logo-svg4 {
  fill: gray;
  position: absolute;
  left: 720px;
  top: 2127px;
}

.logo-svg4:hover {
  fill: darkred;
}

.logo-svg3 {
  fill: gray;
  position: absolute;
  right: 630px;
  top: 2127px;
}

.logo-svg3:hover {
  fill: darkred;
}

.logo-svg5 {
  fill: gray;
  position: absolute;
  left: 720px;
  top: 1595px;
}

.logo-svg5:hover {
  fill: darkred;
}
.logo-svg10 {
  fill: darkgoldenrod;
}
.logo-acent1 {
  color: red;
}

.logo-acent2 {
  color: yellow;
}

.logo-acent3 {
  color: green;
}

.logo-acent4 {
  color: blue;
}

.logo-acent5 {
  color: lightblue;
}

.logo-acent6 {
  color: blueviolet;
}
